.corosol{
    margin: 5px 0px;
}

.prod{
    margin: 5px 0;
}

/* Make list scrollable on mobile view */
.list {
    overflow-x: auto; /* Enables horizontal scroll */
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping */
    justify-content: space-around;
}
  
  .list-item {
    flex: 0 0 auto; /* Keeps each item at its natural width */
    margin: 10px;
    text-align: center;
    min-width: 100px; /* Adjusts item width for visibility */
  }
  
  /* Optional: Hide scroll bar in mobile view */
  .list::-webkit-scrollbar {
    display: none;
  }
  